.app {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.search {
  margin-top: 50px;
  padding: 10px;
  font-size: 30px;
}

.table {
  width: 60%;
  margin-top: 75px;
  border-spacing: 15px;
  color: #444;
  position: relative;
}

tr {
  margin-bottom: 20px;
}

th {
  width: 280px;
  text-align: left;
  font-size: 30px;
}

td {
  width: 250px;
  font-size: 28px;
}
.not-found {
  font-style: italic;
  font-weight: bold;
}
